.box {
    width: 200px;
    height: 100px;
    border-width: 2px 5px 8px 1px; 
    border-style: solid; 
    border-color: black red blue green; 
    padding: 10px;
    background-color: lightblue;
}
